

html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    background-color: black;
    background-image: url(../images/doughnutz.gif);
    background-repeat: no-repeat;
    background-position: center;
}

.bord {
    border: 3px solid gray;
    opacity: 0.85;
    border-radius: 5px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #131313;
    text-shadow: -1px 1px 0 #41ba45,
        1px 1px 0 #c63d2b,
        1px -1px 0 #42afac,
        -1px -1px 0 #c6c23f;
}

h4 {
    font-family: monospace;
}

.bgc {
    background-color: gainsboro;
}

/* Media Queries */

@media screen and (min-width: 768px) { 
    body {
        
    }
} 

