

html {
    position: relative;
    min-height: 100%;
}

body {
    width: 100%;
    background-color: black;
    background-image: url(../images/doughnutz.gif);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: monospace;
}

.bgc {
    background-color: gainsboro;
}

/* Media Queries */

@media screen and (min-width: 768px) { 
    body {
        
    }
} 

